test.py

hw01.docx
hw01.py
lab01.docx

hw02.docx
lab02.py

hw03.docx
hw03a.py
hw03b.py
hw03c.py
lab03.docx

hw04.docx
hw04a.py
hw04b.py
hw04c.py
lab04.docx

hw05.docx
hw05a.py
hw05b.py
lab05.docx

hw06.docx
hw06a.py
hw06b.py
lab06.docx

lab07.docx

hw08.docx
